html, body {
  height: 100%;
  background-color: #e9eaed;
}

div.control-panel {
  display: none;
}

.templates {
  display: none;
}

.container1 {
  height: 80%;
}

.container1 .assumptions, .canvas,
.container1 .lean, .canvas,
.container1 .persona, .canvas,
.container1 .bmc, .canvas {
  height: 95%;
}

.canvas, div.issues, table.details {
  width: 98%;
  left: 1%;
  position: relative;
  cursor: pointer;
}

div.issues {
  margin-top: 0.3em;
  font-size: 0.8em;
}

.canvas {
  background-color: white;
  border-collapse: collapse;
  font-size: 12px;
  min-height: 80%;
}

.canvas .toprow {
  width: 20%;
}

.canvas td {
  border: 1px solid black;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  padding: 1em;
}

.canvas h2 {
  font-size: 1.5em;
  text-transform: capitalize;
  margin-top: 0;
  font-weight: bold;
}

.canvas li {
  font-size: 1.4em;
  padding-bottom: 0.4em;
}

.popup .tips {
  background-color: #eee;
  border: 1px solid #999;
}

.popup .tips ul {
  padding-left: 0;
}

.popup .tips {
  font-size: 1em;
  color: #999;
  list-style: none;
}


.popup .tips .extra h2 {
  text-transform: capitalize;
  font-size: 1em;
  margin-bottom: 0;
  font-weight: bold;
}
.popup .tips .extra ul {
  margin-top: 0;
}

.details {
  margin-top: 0.3em;
  margin-bottom: 1em;
}

.details h1 {
  font-size: 2em;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  padding-right: 1em;
}

.details label {
  text-transform: capitalize;
}

.details td.input {
  background-color: white;
  width: 20%;
  position: relative;
  padding-top: 0.5em;
  border: 1px solid #E1E1E1;
}

.details td.input label {
  font-size: 0.5em;
  position: absolute;
  left: 0.3em;
  top: 0.3em;
}

.details td.input span {
  font-size: 0.8em;
}

.hide {
  display: none;
}

.control-panel {
  position: relative;
  width: 98%;
  left: 1%;
}
.control-panel a {
  position: absolute;
  right: 0;
}


/*****************************************************************************/
/** popup */

.popup {
  position: fixed;
  top: 5%;
  left: 50%;
  min-height: 400px;
  z-index: 2;
}

.popup .popupcontent {
  background-color: white;
  box-shadow: 3px 2px 5px #888888;
  cursor: pointer;
  position: absolute;
  width: 600px;
  left: -300px;
  border: 1px solid #999;
}

.popup .popupcontent .cross {
  position: absolute;
  right: 0.7em;
  top: 1.3em;
  font-weight: bold;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
}

.popup .popupcontent header {
  color: black;
  text-transform: capitalize;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid #e9eaed;
}

.popup .popupcontent footer {
  border-top: 1px solid #e9eaed;
  color: black;
  text-transform: capitalize;
}

.popup .popupcontent {
  vertical-align: top;
}

.popup .tips .questions,
.popup .tips .extra{
  margin: 1em;
  font-size: 0.8em;
}

.popup .popupcontent textarea,
.popup .popupcontent label,
.popup .popupcontent input,
.popup .popupcontent .tips
{
  margin-top: 0.1em;
  margin-bottom: 1em;
  width: 90%;
  margin-left: 5%;
}

.popup .popupcontent label
{
  margin-bottom: 0.1em;
}



.popup footer a,
.popup footer button {
  margin-right: 12px;
  margin-top: 12px;
  background-color: #CCC;
  color: black;
}

/** popup.textinput */
.popup .login header,
.popup .setpassword header,
.popup .popupcontent header,
.popup .textinput header {
  background-color: #e9eaed;
  color: black;
  text-transform: capitalize;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 1.5em;
  text-align: center;
}

.popup .login footer,
.popup .setpassword footer,
.popup .popupcontent footer,
.popup .textinput footer {
  background-color: #e9eaed;
  color: white;
  text-align: right;
}

.popup .textinput {
  width: 800px;
  left: -400px;
}

.popup .textinput textarea,
.popup .textinput .tips
{
  margin-top: 1em;
  margin-bottom: 1em;
  vertical-align: top;
  display: inline-block;
  width: 48%;
  margin-left: 1%;
  max-height: 600px;
  overflow-y: scroll;
}

.popup .textinput textarea {
  min-height: 300px;
}

/** popup.editdetails */
.popup .editdetails header {
  background-color: #e9eaed;
  color: black;
  text-transform: capitalize;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 1.5em;
  text-align: center;
}

.popup .editdetails footer {
  background-color: #e9eaed;
  color: white;
}

.popup .editdetails footer {
  text-align: right;
}

/** opencanvas */

.popup .newcanvas,
.popup .opencanvas {
  width: 400px;
  left: -200px;
}

.popup .newcanvas header,
.popup .opencanvas header {
  font-weight: bold;
  text-align:center;
}

.popup .newcanvas ul a,
.popup .newcanvas footer a,
.popup .opencanvas ul a,
.popup .opencanvas footer a {
  display: block;
  margin-left: 10%;
  width: 80%;
  text-decoration: none;
}

.popup .newcanvas a:hover,
.popup .opencanvas a:hover {
  background-color: #f7faff;
}

.popup .newcanvas ul,
.popup .opencanvas ul {
  margin-top: 0.3em;
}

.popup .newcanvas li,
.popup .opencanvas li {
  list-style: none;
}

.popup .opencanvas li,
.popup .opencanvas footer a {
}

.popup .opencanvas footer a {
  margin-top: 0.3em;
  display: inline-block;
}

.popup .opencanvas footer {
  height: 2.5em;
}

.blue .popup header,
.blue .popup footer {
  background-color: #1EAEDB;
  color: white;
}

.black .popup header {
  background-color: black;
  color: white;
}

.black .popup footer {
  background-color: transparent;
}

/*****************************************************************************/
/** navbar */
body {
  padding-top: 2em;
}

nav {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 2em;
  z-index: 1;
}

nav a {
  vertical-align: middle;
  text-decoration: none;
  color: white;
  display: inline-block;
  margin-top: 0.1em;
  margin-left: 1em;
  font-size: 0.8em;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}

nav a span {
  display: inline-block;
  transform:rotate(-90deg);
  font-size: 0.8em;
}

nav a.gitlab {
  margin-right: 0.7em;
  margin-top: 0.4em;
}
nav a.gitlab img {
  height: 24px;
}

nav a.rightnavitem {
  margin-top: 0.4em;
  float: right;
}
/*****************************************************************************/
/** other */

.vpc .company,
.vpc .customer {
  width: 28%;
}

.vpc td.vpcimage {
  background-color: white;
  padding: 0;
  line-height: 0;
}

.vpc .vpcimage img {
  width: 200px;
}

.vpc .section {
  min-height: 100px;
}

.vpctip {
  margin: 0.3em;
  font-size: 0.8em;
}

.vpc h1 {

}

.company h2 {
  font-family: Chalkboard;
  color: rgb(53,86,11);
}

.customer h2 {
  font-family: Chalkboard;
  color: rgb(160,39,46);
}


.popup .cross {
  position: absolute;
  right: 0.7em;
  top: 0.7em;
  color: white;
  cursor: pointer;
  text-decoration: none;
  height: 1.25em;
  width: 1.25em;
  z-index: 1;
}

.leanux .canvas h2 {
  margin-bottom: 0.7em;
}
.leanux .canvas ul {
  margin-bottom: 0.7em;
}
.leanux .canvas li {
  margin-bottom: 0;
}

@media print {
  @page {size: landscape}
  h1 {
      -webkit-print-color-adjust: exact;
  }

  .canvas h2 {
    margin-bottom: 0.3em;
  }

  .canvas li {
    font-size: 1em;
    margin-bottom: 0;
  }

}
